/* .wrapper {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--color-text);
  text-shadow: 0 0 var(--color-text), 0 1.2em var(--color-secondary);
  transition: font-weight 400ms, transform 400ms;
  will-change: transform;
}

.wrapper:hover {
  text-shadow: 0 -1.2em var(--color-text), 0 0 var(--color-secondary);
} */

.wrapper {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.2em;
  color: #0000;
  text-shadow: 0 0 var(--color-text), 0 1.2em var(--color-secondary);
  overflow: hidden;
  transition: 0.3s;
}
.wrapper:hover {
  text-shadow: 0 -1.2em var(--color-text), 0 0 var(--color-secondary);
}

@media (min-width: 35rem) {
  .wrapper {
    font-size: 1.5rem;
  }
}
